<table class="profile">
  <tr>
    <td class="main">
      <h2>
        <%= h @child.name %>
      </h2>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= h @child.name %><br />
      <strong>Department</strong> <%= h @child.department_id %>
      <%= image_tag("http://www.gravatar.com/avatar/" + Digest::MD5.hexdigest(@child.name) + "?d=monsterid", :alt => "name", :class => "image") %>

    </td>
  </tr>
</table>
