
  <h1><%=  t :title %></h1>

  <p>
    This is the home page for the
    <%= t :title %>
    application.
  </p>

  <%= link_to t(:signup), signup_path, :class => "signup_button round" %>
  or
  <%= link_to t(:signin), signin_path, :class => "signup_button round" %>
