
  <h1>Daily Childcare</h1>

  <p>
    This is the home page for the
    Daily Childcare
    application.
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
  or
  <%= link_to "Sign in now!", signin_path, :class => "signup_button round" %>
