<div id="header" class="round">
  <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
  <ul class="navigation round">
    <li><%= link_to "Home", '#' %></li>
    <li><%= link_to "Help", '#' %></li>
    <li><%= link_to "Sign in", '#' %></li>
  </ul>
</div>
